
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_TemplateLayout.cshtml";
}

<div class="home-carousel home-carousel-block">
    <div class="swiper-container h-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider_item bg-overlay"
                     style="background-image:url('/miraclestudio.design/html/deliciousa-html/assets/images/home/carousel/1.jpg')">
                    <div class="slider-details">
                        <div class="divider">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                        </div>
                        <h1 class="slide_heading">Breakfast</h1>
                        <a class="btn btn-default btn-primary btn-white" href="food-menu-v5.html">The menu</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider_item bg-overlay"
                     style="background-image:url('/miraclestudio.design/html/deliciousa-html/assets/images/home/carousel/2.jpg')">
                    <div class="slider-details">
                        <div class="divider">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                        </div>
                        <h1 class="slide_heading">Launch</h1>
                        <a class="btn btn-default btn-primary btn-white" href="food-menu-v5.html">The menu</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider_item bg-overlay"
                     style="background-image:url('/miraclestudio.design/html/deliciousa-html/assets/images/home/carousel/3.jpg')">
                    <div class="slider-details">
                        <div class="divider">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                        </div>
                        <h1 class="slide_heading">Dinner</h1>
                        <a class="btn btn-default btn-primary btn-white" href="food-menu-v5.html">The menu</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider_item bg-overlay"
                     style="background-image:url('/miraclestudio.design/html/deliciousa-html/assets/images/home/carousel/4.jpg')">
                    <div class="slider-details">
                        <div class="divider">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                        </div>
                        <h1 class="slide_heading">Drinks</h1>
                        <a class="btn btn-default btn-primary btn-white" href="food-menu-v5.html">The menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-controller">
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

